<article>
    <div class="m-5">
        <h3><span class="text-white">CHARLA MAGISTRAL</span><br>
        {{ conferencista.nombre }}<br>
        {{ 'COUNTRIES.'+conferencista.pais | translate }}</h3>
        <h3 class="text-white my-3">{{ conferencista.horario }} HRS</h3>
    </div>
    <div class="bg-transparente">
        <h5 class="px-5 pt-5 pb-4 text-white">{{ conferencista[lang.lang].titulo }}</h5>
        <p class="px-5 pb-5 text-white border-bottom-green">{{ conferencista[lang.lang].texto }}</p>
        <p class="p-5 text-white">{{ conferencista[lang.lang].bio }}</p>
    </div>
</article>