<section *ngIf="trabajos.trabajosLoadded&&sesion" class="d-flex flex-wrap px-3 px-lg-5">
    <div *ngFor="let tid of sesion.dialogos" class="col-12 col-md-4">
        <div *ngIf="t(tid)" class="bg-dark text-white my-2 m-md-3 p-3">
            <!-- VIDEO -->
            <div>
                <img src="/assets/img/play-button.png" alt="Video" class="img-fluid cursor" (click)="openDialog(t(tid).mp4)">
            </div>
            <!-- DATA -->
            <h5 class="mt-3">{{ t(tid).titulo }}</h5>
            <hr>
            <p>Expone: {{ t(tid).expone }}</p>
            <div class="text-end">
                <button mat-stroked-button (click)="_var.navegateTo='/sesiones-de-trabajo/'+id+'/dialogos-de-investigacion'; irAlTrabajo(t(tid).uid, tid)">MÁS INFORMACIÓN</button>
            </div>
        </div>
    </div>
</section>