/* TEXTOS LOCOS */
.letras-container{
  z-index: 2;
  width: 100%;
  overflow: hidden;
}

.bg-texto-1{
  min-height: 40px;
  width: 1000%;
  margin-top: 3%;
  background-image: url("/assets/img/texto-1.png");
  background-repeat: repeat;
  animation: texto-loco 80s linear infinite;
}

img{ box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.6); }
.texto-01{ position: relative }
.frente-a0{ width: 18% }
.frente-a1{
  width: 43%;
  margin-bottom: 15%;
  padding: 0 2rem;
}
.frente-a2{ width: 39% }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .width-lg-90{
    width: 90%;
    margin: auto;
  }
}

