<nav class="d-none d-sm-block">
    <div class="d-flex-center justify-content-between">
        <ul class="d-flex-center">
            <li class="border-right" [routerLink]="['/home']">
                {{ 'NAV.HOME' | translate }}
            </li>
            <li class="border-right" [routerLink]="['/programa']">
                {{ 'NAV.PROGRAMA' | translate }}
            </li>
            <li class="border-right" [matMenuTriggerFor]="sesiones">
                {{ 'NAV.SESIONES' | translate }}
            </li>
            <li class="border-right" [matMenuTriggerFor]="mesas">
                MESAS REDONDAS
            </li>
            <li  class="border-right" [routerLink]="['/noticias']">
                {{ 'NAV.NOTICIAS' | translate }}
            </li>
            <li  class="border-right" [routerLink]="['/faq']">
                FAQ
            </li>

            <mat-menu #sesiones="matMenu">
                <div class="bg-white">
                    <button mat-menu-item [routerLink]="['/sesiones-de-trabajo/microbioma-agrícola']">El microbioma agrícola</button>
                    <button mat-menu-item [routerLink]="['/sesiones-de-trabajo/promoción-indirecta-del-crecimiento-vegetal']">Promoción indirecta del crecimiento vegetal</button>
                    <button mat-menu-item [routerLink]="['/sesiones-de-trabajo/promoción-directa-del-crecimiento-vegetal']">Promoción directa del crecimiento vegetal</button>
                    <button mat-menu-item [routerLink]="['/sesiones-de-trabajo/evolución-y-diversidad-de-mpvc']">Evolución y diversidad de MPVC</button>
                    <button mat-menu-item [routerLink]="['/sesiones-de-trabajo/el-holobionte-planta']">El Holobionte Planta</button>
                    <button mat-menu-item [routerLink]="['/sesiones-de-trabajo/conservación-y-manejo-microbiano']">Conservación y manejo microbiano en sistemas naturales y agroecosistemas</button>
                    <button mat-menu-item [routerLink]="['/sesiones-de-trabajo/del-laboratorio-al-campo']">Del laboratorio al campo</button>
                    <button mat-menu-item [routerLink]="['/sesiones-de-trabajo/legislación-sobre-productos-microbianos']">Legislación sobre registro y empleo de productos microbianos</button>
                </div>
            </mat-menu>
            <mat-menu #mesas="matMenu">
                <div class="bg-white">
                    <button mat-menu-item [routerLink]="['/mesas-redondas/mujeres-en-la-ciencia']">Mujeres en la ciencia</button>
                    <button mat-menu-item [routerLink]="['/mesas-redondas/bioinsumos']">Actores involucrados en el desarrollo y aplicación de bioinsumos: ¿Es posible un modelo alternativo de producción?</button>
                </div>
            </mat-menu>
        </ul>
        <ul class="d-flex-center">
            <!--<li (click)="useLanguage('_es')">{{ 'NAV.ES' | translate }}</li>
            <li (click)="useLanguage('_en')">{{ 'NAV.EN' | translate }}</li>
            <li (click)="useLanguage('_pt')">{{ 'NAV.PT' | translate }}</li>-->
            <li href="https://www.facebook.com/relar.pgpr" target="_blank"><i class="fab fa-facebook"></i></li>
            <li href="https://twitter.com/RelarPgpr" target="_blank"><i class="fab fa-twitter"></i></li>
            <li href="https://instagram.com/relar.pgpr" target="_blank"><i class="fab fa-instagram"></i></li>
            <li href="mailto:secretaria.alar@gmail.com"><i class="fas fa-envelope"></i></li>
            <li *ngIf="this.auth.user.uid" [routerLink]="['/user']">
                <!--<img [src]="this.auth.user.photoURL | img " alt="Imagen de usuario">-->
                <span>{{ this.auth.user.displayName | username }}</span>
            </li>
            <li *ngIf="!this.auth.user.uid" [routerLink]="['/login']">
                <i class="fas fa-user mx-2"></i>
                <span>{{ 'NAV.LOGIN' | translate }}</span>
            </li>
        </ul>
    </div>


</nav>
<!-- Workaround NAV offset -->
<div class="nav-fix"></div>
