/* NAV */
.nav-lg{
    background-color: white;
    box-shadow: #bbb 0 0 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: #16f64b solid 5px;
}

nav a{
    font-size: 14px;
    text-decoration: none;
    color: rgb(77, 77, 77);
    font-family: 'Seravek Medium', sans-serif;
    text-transform: uppercase;
    margin: 0.6rem 0rem;
}

nav a i{font-size: 20px;}

nav img{
    width: 30px;
    border-radius: 50%;
}

button{
    font-family: 'Seravek', sans-serif;
    font-size: 16px;
}

nav a:hover{
    color: black;
    animation-name: grow-up;
    animation-duration: 0.2s;
    animation-fill-mode: forwards
}

.d-flex-center{
    display: flex;
    align-items: center;
}

.margin-x{
    margin: 0 1.2rem;
}

@keyframes grow-up {
    100% {
        transform: scale(1.1);
    }
}