<section class="bg-0 pb-sm-2">
  <div (click)="registrarse()" class="letras-container puntero py-4">
    <div class="bg-texto-2"></div>
  </div>
  <div class="pb-5 row width-lg-95">
    <div class="col-12 col-sm-6 px-0" id="inscripciones">
      <img class="img-fluid w-100" src="/assets/img/inscripciones.jpg" alt="Información de inscripciones">
    </div>
    <div class="col-12 col-sm-6 px-0 d-flex flex-column justify-content-center">
      <div class="w-75 py-3 my-5 align-self-end puntero">
        <a (click)="registrarse()">
          <img class="img-fluid w-100" src="/assets/img/boton-1.png" alt="Registrarse">
        </a>
      </div>
      <div class="w-80 py-3 my-sm-5">
        <a [routerLink]="['/postular-trabajo']">
          <img class="img-fluid w-100" src="/assets/img/boton-2.png" alt="Postular Trabajo">
        </a>
      </div>
    </div>
  </div>
</section>
