<div class="m-5 p-5 col-12 col-md-6 m-auto">

    <div *ngIf="auth.user.inscripcion<5">
        <div class="jumbotron jumbotron-fluid bg-white text-center mb-5 p-5">
            <h2>Inscripción incompleta</h2>
            <hr>
            <p class="lead">Su inscripción está pendiente de pago.</p>
            <button mat-raised-button color="primary" class="w-50 mb-3" (click)="inscripcion()">
                Completar inscripcion
            </button>
        </div>
    </div>

    <div>
        <ngx-auth-firebaseui-user
        signoutButtonText="Cerrar sesión"
        editButtonText="Editar"
        saveChangesButtonText="Guardar cambios"
        cancelButtonText="Cancelar"
        notLoggedInText="Usted no está logueado"
        emailVerifiedText="Email verificado"
        emailNotVerifiedText="Email no verificado"
        [canDeleteAccount]="false"
        (onSignOut)="volverAlHome()">
        </ngx-auth-firebaseui-user>
    </div>
</div>

