h3{
    text-transform: uppercase;
    font-family: 'Staatliches';
}

li{
    margin: 0.6rem 0;
}

mat-form-field{
    width: 100%;
}

mat-radio-button{
    margin: 0 10px;
}

textarea{
    height: 80px;
}

h3{
    text-transform: uppercase;
    font-family: 'Staatliches';
}

mat-radio-group{
    margin-left: 12px;
}

@media (min-width: 768px) {
    .ml-md{
        margin-left: 8px;
    }
}

@media (min-width: 1200px) {
    .w-lg-75{
        width: 75%;
    }
}