<div *ngIf="!submitted">
    <app-postular-form [functionName]="'subirTrabajoHome'" (submittedEvent)="changeSubmitted($event)"></app-postular-form>
</div>

<div class="p-5" *ngIf="submitted">
    <div class="text-center p-5 bg-white">
        <h5>¡Felicitaciones!</h5>
        <p>La postulación de su trabajo se ha procesado correctamente. Usted se ha postulado a RELAR-PGPR 2021</p>
        <div class="d-flex justify-content-center">
            <button mat-raised-button color="primary" class="w-25 mb-3 mx-3" type="button" (click)="volverAlHome()">
                Volver al inicio
            </button>
        </div>
    </div>
</div>