<section *ngIf="mesa">

    <!-- TITULO -->
    <div class="p-3 p-md-5 text-white" [routerLink]="['/mesas-redondas/'+id]">
        <h2>MESA REDONDA<br>{{ mesa[lang.lang].titulo }}</h2>
        <h3 class="mt-4">{{ mesa.horario }}</h3>
    </div>

    <!-- MENU -->
    <nav class="my-5">
        <ul class="d-md-flex justify-content-center m-0">
            <li class="border-left border-right uppercase" [matMenuTriggerFor]="invitados">Panelistas</li>
        </ul>
        
        <!-- INVITADOS -->
        <mat-menu #invitados="matMenu">
            <ul class="py-2 mt-2">
                <li class="li" *ngFor="let cid of mesa.conferencistas">
                    <span class="uppercase">{{ data.getPanelista(cid).nombre }}</span>
                    <br>
                    <span *ngIf="data.getPanelista(cid).institucion">{{ data.getPanelista(cid).institucion }}</span>
                </li>
            </ul>
        </mat-menu>

    </nav>
    <router-outlet></router-outlet>
</section>