<div class="my-5 px-5 d-flex justify-content-center">
  <div class="bg-white d-inline-block">
    <ngx-auth-firebaseui-login
    titleText="Ingrese a su cuenta"
    orLabelText="O"
    dontHaveAnAccountText="¿Aun no tiene una cuenta?"
    createAccountButtonText="Crear cuenta"
    emailErrorRequiredText="Email es un campo obligatorio"
    emailErrorPatternText="Por favor ingrese un email válido"
    passwordErrorRequiredText="Password es un campo obligatorio"
    [providers]="[providers.Google, providers.Facebook]"
    [resetPasswordEnabled]="false"
    (onCreateAccountRequested)="registrarse()"
    (onSuccess)="saveUser($event)"
    (onError)="handleError($event)">
    </ngx-auth-firebaseui-login>
  </div>
</div>