h3{
    text-transform: uppercase;
    font-family: 'Staatliches';
}

li{
    margin: 0.6rem 0;
}

mat-form-field{
    width: 100%;
}

mat-radio-button{
    margin: 0 10px;
}

textarea{
    height: 80px;
}

mat-radio-group{
    margin-left: 12px;
}

@media (min-width: 768px) {
    .ml-md{
        margin-left: 8px;
    }
}

/* PROGRESSBAR */
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
    text-align: center;
}

.active { color: #16f64b }
.pointer{ cursor: pointer; }

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    content: "1"
}

#progressbar #personal:before {
    content: "2"
}

#progressbar #postular:before {
    content: "3"
}

#progressbar #payment:before {
    content: "4"
}

#progressbar #confirm:before {
    content: "5"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #16f64b;
    cursor: pointer;
}