/* TEXTOS LOCOS */
.letras-container{
  z-index: 2;
  width: 100%;
  overflow: hidden;
}

.bg-texto-3{
  min-height: 40px;
  width: 1000%;
  background-image: url("/assets/img/texto-3.png");
  background-repeat: repeat;
  animation: texto-loco 90s linear infinite;
}

.bg-texto-4{
  min-height: 50px;
  width: 1000%;
  background-image: url("/assets/img/texto-4.png");
  background-repeat: repeat;
  animation: texto-loco 80s linear infinite;
}


/* MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .width-lg-90{
    width: 90%;
    margin: auto;
  }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}
