section{
    background-color: white;
    border-radius: 50px 0px;
    padding: 1.8rem 1rem;
    margin: 3rem 0;
}

img{
    border-radius: 50px 0px;
    display: none;
}

h3{
    font-family: 'Staatliches', sans-serif;
    text-transform: uppercase;
}
p{ text-align: justify; }
hr{ color: #16f64b; }
a{ color: black; }
a:hover{ color: #16f64b;}

/* TEXTO NOTICIAS */

.letras-container{
    z-index: 2;
    width: 100%;
    overflow: hidden;
}

.bg-texto-5{
    min-height: 45px;
    width: 10000px;
    background-image: url("/assets/img/texto-5.png");
    background-repeat: repeat;
    animation: texto-loco 60s linear infinite;
}

@keyframes texto-loco{
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    img{
        display: inline;
    }
}