<section>

    <!-- TITULO -->
    <div class="p-5 text-white" [routerLink]="['/sesiones-de-trabajo/'+id]">
        <h2>SESIÓN<br>{{ sesion[lang.lang].titulo }}</h2>
        <h3 class="mt-4">{{ sesion.horario }}</h3>
    </div>

    <!-- MENU -->
    <nav class="my-5">
        <ul class="d-md-flex justify-content-center m-0">
            <li class="border-2px" [matMenuTriggerFor]="menu">Charlas Magistrales</li>
            <li [routerLink]="['/sesiones-de-trabajo/'+id+'/poster-talk']">Póster Talk</li>
            <li class="border-2px" [routerLink]="['/sesiones-de-trabajo/'+id+'/dialogos-de-investigacion']">Diálogos de investigación</li>
        </ul>
        
        <mat-menu #menu="matMenu">
            <ul class="py-2 mt-2">
                <li class="li" [routerLink]="['/sesiones-de-trabajo/'+id+'/charlas-magistrales/'+cid]" *ngFor="let cid of sesion.conferencistas">{{ data.getConferencista(cid).nombre }}</li>
            </ul>
        </mat-menu>
    </nav>
    <router-outlet></router-outlet>
</section>