<section *ngIf="admin.usuariosLoadded">
    <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" (click)="admin.sortUsersBy('lastname')">Nombre</th>
            <th scope="col" (click)="admin.sortUsersBy('email')">Email</th>
            <th scope="col" (click)="admin.sortUsersBy('institucion')">Institución</th>
            <th scope="col" (click)="admin.sortUsersBy('categoria')">Categoría</th>
            <th scope="col" (click)="admin.sortUsersBy('pais')">País</th>
            <th scope="col">T</th>
            <th scope="col">P</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of admin.usuarios; let i = index">
              <th scope="row">{{i}}</th>
              <td>{{ user.lastname | titlecase }}, {{ user.name | titlecase }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.institucion }}</td>
              <td>{{ categorias[user.categoria] }}</td>
              <td>{{ user.pais }}</td>
              <td style="color: #333;" [ngClass]="{ 'text-success': user.postulaTrabajo }"><i class="fas fa-circle"></i></td>
              <td style="color: #333;" [ngClass]="{ 'text-warning': user.brou, 'text-primary': user.metodo=='free', 'text-success': user.metodo=='paypal' }"><i class="fas fa-circle"></i></td>
            </tr>
          </tbody>
    </table>
</section>