h2{
    text-transform: uppercase;
    font-family: 'Staatliches';
}

.justify{ text-align: justify; }

.mat-expansion-panel-header{ 
    height: auto !important;
    padding: 16px 24px !important;
    min-height: 48px;
}